@page "/help"
<PageTitle>HiLo Help</PageTitle>
<article id="help">
    <h1>HiLo Help</h1>
    <h2>Basics</h2>
    <p>To play the game, you must guess if the next card in the row is higher or lower than the last. To win the game, you must correctly guess the final card. </p>
    <ul>
    <li>If you guess correctly, you keep control.</li>
    <li>If you guess a card incorrectly, then the other player takes control. </li>
    <li>If you get a pair (two cards with the same value), then the other player takes control. </li>
    <li>If you correctly guess the final card, you win.</li>
    <li>If you incorrectly guess the final card, the other player wins.</li>
    </ul>
    <p><strong>Please Note: Ace is high in this game.</strong></p>
    <h2>Swapping</h2>
    <p>You have the option of swapping the 4th and the 8th card (the cards at the end of the first two rows).</p>
</article>