.modal {
    display: block;
    background-color: rgba(10,10,10,.2);
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(0.4rem);
    max-width: 40rem;
    padding: 0.5rem;
    border-radius: 2rem;
    border: 0.1rem solid white;
    animation: show 200ms 50ms cubic-bezier(0.4, 0.6, 0.7, 1.4) forwards;
    opacity: 0;
    transform: translateY(-10vh);
    transform-origin: top center;
}

@keyframes show {
    100% {
        opacity: 1;
        transform: none;
    }
}

.modal-header {
    color: #171718;
    border-bottom: none;
    padding: 0.8rem;
}

.modal-body {
    color: #818183;
    padding: 0 0.8rem;
}

.modal-body p {
    margin: 0;
}

.modal-footer {
    border-top: none;
    padding: 0.1rem;
}

